<div class="home-video-wrapper">
  <%= video_tag "lemons-video2", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
<!--   <h1 class="home"> Welcome to Mister Cocktail</h1> -->
  <%= link_to "Get a Cocktail!", cocktails_path, class: "get-cocktail-button" %>







</div>
